
*{
	box-sizing: border-box;
}
body{
	font-family: 'PT Serif', Georgia, Palatino, 'Palatino Linotype', serif;
	font-size: 16px; 
	line-height: 1.5;
	color:  #5E5E5E;
	background-color: #f5f5f5;
	text-align: center;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	color:#4A4A4A;
	font-family: 'PT Sans', Tahoma, Verdana, 'Trebuchet MS', sans-serif;
}
h1 , h2{
	text-transform: uppercase;
}
img{
	width: 100%;
}
header{
	padding-bottom: 40px;
}
.container{
	width: 90%;
	margin: 0 auto;
}
.main-header{
	margin-bottom: 40px;
}
nav ul li{
	margin: 0;
	padding: 0;
}
nav ul li a{
	display: block;
	font-family: 'PT Sans', Tahoma, Verdana, 'Trebuchet MS', sans-serif;
	text-transform: uppercase;
	color: #4a4a4a;
	font-weight: 700;
	text-decoration: none;
	padding: 8px;
}
nav ul li a:hover{
	background-color:#2c3e50;
  	color: #FAFAFA;
}
.banner{
	width: 88%;
	margin: 0 auto;
}
main{
	margin-bottom: 24px;
	background-color: #FAFAFA;
}
#portfolio,
#skills{
	padding-top: 48px;
}
.project{
	margin-bottom: 24px;
}
.project img {
  margin-bottom: 24px;
}
.project p {
  margin-top:8px;
  margin-bottom:36px;
  padding: 0 32px;
}
.wrapper{
	width: 100%;
	background-color:#1abc9c;
	padding-bottom: 64px; 
}
.skills-list{
	margin: 0 25px;
	padding: 40px 0;
}
.skills-list li{
	list-style-type: none;
	display: inline-block;
	text-align: center;
	border: 4px solid #fff;
	text-transform: uppercase;
	padding: 16px;
	font-weight: 700;
	font-size: 20px;
	margin-top: 10px;
	color: #fff;
}
.skills-list li:hover{
	background-color: #fff;
	color: #000;
	cursor: pointer;
}
footer{
	margin-top: 64px;
}
footer h2{
	padding-bottom: 16px;
}
address {
  font-style: normal;
  padding-bottom: 64px;
}

address span {
  font-weight: 700;
  padding-left:8px;
}
address span a {
  text-decoration: none;
  color: inherit;
}
.credit {
  border-top: 1px solid #DCDCDC;
  width: 95%;
  margin: 0 auto;
  padding: 16px 16px;
  font-size:15px;
  font-weight: 700;
  font-family: 'PT Sans', Tahoma, Verdana, 'Trebuchet MS', sans-serif;
}
.credit p {
  float: left;
  color: #9b9c9c;
}
.credit p + p {
  float: right;
  text-transform: uppercase;
}

.credit p a {
  text-decoration: none;
  color: inherit;
  padding: 15px 20px;
}

.credit p a:hover {
  background-color: #2c3e50;
  color: #FAFAFA;
}
.footer-nav {
  display: none;
}

.clearfix {
  content: " ";
  display: table;
  clear: both;
}


/*================================
MEDIA QUERIES
==================================*/
@media (min-width: 768px) {

  nav ul {
    display: inline-block;
    margin: 0 auto;
  }

  nav ul li {
    float: left;
    background-color: transparent;
  }

  nav ul li a {
    display: inline-block;
    padding: 1em 1.5em;
  }

  .profile-img {
    float: right;
    width: 33%;
  }

  .banner {
    width: 100%;
  }

  .intro {
    float: left;
    width: 67%;
    margin-top: 0;
    padding: 0 1em;
    font-size: 1.125em;
    text-align: left;
  }

  .project {
    float: left;
    width: 50%;
    padding: 1em;
    margin-bottom: 0.5em;
  }

  .project p {
    height: 3.75em;
  }


  .skills li {
    float: left;
    width: 25%;
  }

  .get-in-touch {
    font-size: 1.266em;
    max-width: 75%;
    margin: 0 auto;
  }

  .credit p a {
    display: none;
  }

  footer {
    padding-bottom: 2em;
    width: 100%;
  }

  .footer-nav {
    display: block;
    text-align: right;
  }

  .footer-nav ul li a {
    color: #9b9c9c;
  }

  .footer-nav ul li a:hover {
    background-color: #9b9c9c;
    color: #FAFAFA;
  }

}
/*----------DESKTOP STYLES-----------*/
@media(min-width: 1024px){
	.main-header{
	margin-top: 40px;
    margin-bottom: 40px;
    min-height: 3.125rem;
	}
	.logo{
		float: left;
		padding: 3px 0;
	}
	nav{
		float: right;
		margin-right: 24px;
	}
	.intro{
		font-size: 24px;
		width: 60%;
		padding-left: 0;
		padding-right: 96px;
		padding-top: 50px;
	}
	.profile-img{
		width: 40%;
		padding-right: 24px;
	}
		.project {
	    width: 33%;
	    padding: 0.5em;
	  }

	  .get-in-touch {
	    width: 50%;
	  }

	  footer {
	    padding-bottom: 0;
	  }
}
